@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-primary: #FBFBFB;
  --background-primary-dark: #000510;
  
  --background-secondary: #F2EEEB;
  --background-secondary-dark: #040f16;
  
  --font-primary: #000000;
  --font-primary-dark: #FBFBFB;
  
  --font-secondary: #FBFBFB;
  --font-secondary-dark: #000000;

  --primary: #238C6E;
  --secondary: #2BD999;
}

body {
  font-family: 'Poppins';
}


@layer base {
  body {
    @apply dark:bg-[--background-primary-dark] dark:text-[--font-primary-dark] bg-[--background-primary] text-[--font-primary]
  }
}

.section {
  @apply py-[4em]
}

.container {
  @apply w-full sm:w-[95%] md:w-[90%] m-auto
}

.column {
  @apply p-[20px]
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  background-size: 0 3px;
  border-radius: 20%;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .5s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent), linear-gradient(#2BD999, #78fdcc)
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%
}
